
:root{
    --cor_botao_clicado:rgb(76, 211, 221);
    --cor_botao_n_clicado: rgb(37, 219, 143);
    --cor_fundo: rgb(83, 72, 72);
    --cor_titulo:rgb(241, 148, 163);
    --cor_botao_fundo: rgb(231, 203, 207);
    
}
body{
    background-image:url(imagem/fundo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.box{/*isso é o grid eu acho*/
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}
.container{/*isso é tipo a "mae" */
    display: flex;
    width: 350px;
    flex-direction: column;
    padding: 0 15px 0 15px;
}
span{/*vitoria web*/
    color: #fff;
    font-size:large;
    display: flex;
    justify-content: center;
    padding: 10px 0 15px 0;
}
header{/* aqui é onde mexe na parte onde ta escrito iniciar seção*/
    color: #fff;
    font-size: 89%;
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;

}
.consumidor input{
    background-color:beige ;
    box-shadow: 20%;
    border-radius: 16px;
    width: 150px;
    height: 30px;
    cursor: pointer;/*para mudar o estilo do cursor*/
    position: relative;
}
.produtor input{
    background-color:beige ;
    box-shadow: 20%;
    border-radius: 16px;
    width: 150px;
    height: 30px;
    cursor: pointer;/*para mudar o estilo do cursor*/
    position: relative;
    margin-left: 165px;
    margin-bottom: 50px;
    
}
.submit{/*é quando voce escreveu e depois aperta o enter*/
    border: none;
    border-radius: 30px;
    font-size: 15px;
    height: 45px;
    outline: none;
    width: 100%;
    background: rgba(255,255,255,07);
    cursor: pointer;/*para mudar o estilo do cursor*/
    transition: 3s;
    bottom: var(--cor_botao_clicado);
}
.submit:hover{
    box-shadow: 1px 5px 7px rgba(0,0,0,0.2);
}
.bottom{/*botao do cadastro*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: small;
    color: #fff;
    margin-top: 10px;
    
}
label a{
    color:#fff;
    text-decoration: none;
}
.logo{
    width: 18%;
    margin-right: 80%;
    border-radius: 20px;
    transition: 10s;
}
.logo:hover{
    width: 18%;
    margin-right: 80%;
    border-radius: 40%;/*borda da logo*/
    transition: 3s;
}
.fundo2{
    background-image: url(imagem/fundo2.jpg);
    width: 40%; 
    margin: auto; 

}
.botao{
    height: 60px;
    width: 200px;
    box-shadow: 3px 6px 11px;
    display: flex;
    justify-content: center;
    padding: 9%;
    font-size: 18px;
    align-items:center;
    border-top: none;
    
}
.principal{
    text-align: center;
    display: flex;
    flex-direction: row;
    border-radius: 00%;
    margin-left:-390px;  ;
    padding: 2px;
}
.texto{
    text-align: left;
}
.jabuticaba{
    justify-content: space-between;
    display: flexbox;
    margin-top: 20px;
}
